<ion-view view-title="Ouvidoria" ng-controller="OuvidoriaController">
	<ion-content id="ouvidoria">
		<div class="list">
			<a ui-sref="tabs.perfil" class="item item-avatar">
				<img ng-src="{{foto_usuario}}">
				<h2>{{nome_usuario}}</h2>
				<h6>{{cidade_usuario}}</h6>
			</a>
		</div>
		<div><button class="button button-block button-full button-stable ion-edit"> OUVIDORIA</button></div>

		<div class="row">
			<div class="col">
				<!--<ion-md-input placeholder="Saúde" hightlight-color="dark" type="text" ng-model="adicOuvidoria.protocolo">
				</ion-md-input> -->
				<select ng-model="selectId" ng-options="servico.descricao for servico in servicos" style="width:100%;" >							
						
				</select>
				<ion-md-input placeholder="Demora de 3 horas para ser atendido" hightlight-color="dark" type="text" ng-model="adicOuvidoria.denuncia">
				</ion-md-input>
				<ion-md-input placeholder="Pública" hightlight-color="dark" type="text" ng-model="adicOuvidoria.publica">
				</ion-md-input>
			</div>
		</div>
		<div><button class="button button-block button-full button-stable"  ng-click = "GalleriPictureOuvidoria()"><i class="icon ion-camera"></i> FUTURO SELECIONAR FOTO</button></div>
		<div name="formfile" ng-controller="OuvidoriaController">
				<div  collection-repeat="img in images" >	
					<img  ng-src="{{img}}" style="margin-left:2px; width:100px; height:90px; padding:3px; float:left; margin-top: -12px;"/>
					
				</div>										
			</div>											
			<div  class="fotoarquivo" >
				<a href="#/tabs/ouvidoria" ng-click = "takePictureOuvidoria()"><label><i class="icon ion-plus" style="font-size:20px; color:#696969; margin-left:13px; margin-top:2cm;" ></i></label></a>
			</div>
		<div class="row">
			<div class="col">
				<ion-md-input ng-model="endereco" id="ende" placeholder="Rua Santa Bárbara, 410 - Centro" hightlight-color="dark" type="text">
				</ion-md-input>
			</div>
		</div>
		<div><button class="button button-block button-full button-stable ion-edit" ng-click="obterLocalizacao()"> OBTER LOCALIZAÇÃO</button></div>
		
		<div class="row">
			<button class="button btn button-back button-icon button-orange  ion-close" ng-click="cancelar()"> CANCELAR</button>
			<button class="button btn button-next button-icon button-balanced button-clear ion-paper-airplane" ng-click="enviar()"> ENVIAR</button>
		</div>
	</ion-content>
</ion-view>