<ion-view class="barra">
  <ion-tabs class="tabs-icon-top tabs-default">

    <ion-tab title="INICIO" icon="icon ion-ios-home-outline" href="#/tabs/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="ACOMPANHE" icon="icon ion-ios-world-outline" href="#/tabs/acompanhe">
      <ion-nav-view name="acompanhe-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="NOTIFICAÇÕES" icon="ion-android-notifications-none" href="#/tabs/notificacoes">
      <ion-nav-view name="notificacoes-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="AJUSTES" icon="icon ion-ios-gear-outline" href="#/tabs/ajustes">
      <ion-nav-view name="ajustes-tab"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>